.config-position {
  width: 100%;
  height: auto;
  margin-top: 10px;
  .tab-name {
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #9d9da1;
  }
  .select-name {
    width: 100%;
    height: auto;
    margin: 10px 0px 5px 20px;
    border-bottom: 1px solid #9d9da1;
  }
}


.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 1em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 1px solid #5bf7fc;
  border-radius: 50px;
	background: #424350;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid  #5bf7fc;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #5bf7fc;
}