.app {
  display: flex;
  height: 100vh;
  width: auto;
}

#map {
  width: calc(100vw - 350px);;
  height: auto;
  background-color: #3f385d;
}

.infomation {
  width: 410px;
  height: auto;
  background-color: #4b4858;
  position: relative;
  border-left: 3px solid #3f385d;
  box-shadow: 0 0 8px rgb(50, 50, 50);
}
