.app {
  display: flex;
  height: 100vh;
  width: auto;
}

.map {
  width: calc(100vw - 350px);;
  height: auto;
  background-color: blue;
}

.infomation {
  width: 410px;
  height: auto;
  background-color: red;
  position: relative;
}