// body {
//   width: 100%;
//   height: 100%;
//   background-color: #4b4858;
// }

body {
  font-family: "MS Pゴシック" ;
  background-color: #3599FF;
}

.app {
  display: flex;
  height: 100vh;
  width: auto;
}

#map {
  width: calc(100vw - 460px);;
  height: auto;
  background-color: #474356;
}

.infomation {
  width: 460px;
  height: auto;
  color: #fff;
  background-color: #323b43;
  position: relative;
  border-left: 1px solid #9d9da1;
  border-right: 3px solid #e83737;
  border-bottom-right-radius: 17%;
  box-shadow: 0 0 10px rgb(50, 50, 50);
  padding: 8px 10px;
}

.header {
  height: 57px;
  width: 100%;
  margin: 3px 0 0 0;
  border-bottom: 1px solid #9d9da1;
  display: flex;
  .info-on {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__user {
      display: flex;
      &__img {
      height: 40px;
      width: 40px;
      object-fit: fill;
      margin-left: 10px;
      border: 2px solid #3599FF;
      border-radius: 50%;
      }
      &__name {
        margin-left: 5px;
      }
    }
    &__sign-out {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      font-size: 30px;
      color: #9d9da1;
    }
    .info-on__sign-out:hover {
      color: #5bf7fc;
    }
  }
  .info-off {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__user {
      display: flex;
      &__img {
      height: 40px;
      width: 40px;
      object-fit: fill;
      margin-left: 10px;
      border: 2px solid #3599FF;
      border-radius: 50%;
      }
      &__name {
        margin-left: 5px;
      }
    }
    &__sign-out {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      font-size: 30px;
      color: #9d9da1;
    }
    .info-off__sign-out:hover {
      color: #5bf7fc;
    }
  }
  .side-top {
    width: 15％;
    height: auto;
    border-left: 1px solid #9d9da1;
    .app-icon {
      margin-left: 10px;
    }
  }
}

.main-tab {
  width: 100%;
  height: calc(100% - 57px);
  display: flex;
}
.messagesBox {
  width: 85%;
  background-color: #525360;
  height: 95%;
  .messagesList {
    height: 100%;
    width: 100%;
    background-color:#525360;
    overflow: scroll;
    border-bottom: 1px solid #9d9da1;
    .message {
      display: block;
      border-bottom: 1px solid #9d9da1;
      &__user {
        display: flex;
        width: auto;
        height: 20%;
        padding: 8px 5px 5px 0px;
        &__img {
          height: 27px;
          width: 27px;
          margin-left: 10px;
          border-radius: 50%;
          border: 2px solid #3599FF;
        }
        &__name {
          width: 80%;
          margin-top: 5px;
          margin-left: 8px;
          border-bottom: 1px solid #9d9da1;
        }
      }
      &__info {
        width: auto;
        height: 70%;
        padding: 4px 5px 15px 25px;
        &__comment {
          font-size: 14px;
          word-wrap: break-word;
        }
        &__time {
          margin-top: 10px;
          text-align: right;
          font-size: 11px;
          color:#5bf7fc;
        }
      }
      &__distance {
        color: #a8a8b7;
        width: auto;
        height: 10%;
        padding-bottom: 10px;
        padding-left: 10px;
        display: flex;
        font-size: 12px;
      }
    }
    .error-message {
      width: 100%;
      height: 100%;
      .message-notFound {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 60px auto;
        .error-top {
          font-size: 24px;
          font-weight: bold; 
        }
        .error-main {
          font-size: 14px;
          color: #b5b5b9;
        }
        .error-bottom {
          font-size: 10px;
          color: #b5b5b9;
        }
      }
    }
  }
  .messageUpdate {
    outline:0;
    font-weight: bolder;
    justify-content: center;
    box-sizing: border-box;
    line-height: 40px;
    background: #424350;
    border: 3px solid #5bf7fc;
    box-shadow: 0 0 10px rgb(94, 180, 255);
    color: #fff;
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-radius: 50%;
    margin: 0 40px 20px 80px;
    text-align: center;
    bottom: 32px;
    right: 45px;
    padding: 15px;
    position: absolute;
  }
}

.comment-form {
  width: 100%;
  height: 25%;
  margin-bottom: 15px;
  &__contener {
    display: block;
    width: 100%;
    &__comment {
      width: 80%;
      height: 100%;
      color: #fff;
      margin: 15px 0 0 39px;
      border-bottom: 1px solid #9d9da1;
      border-top: 1px solid #9d9da1;
    }
  }
  .text-count {
    width: 90%;
    margin-bottom: 6px;
    font-size: 12px;
    text-align: right;
    justify-content: flex-end;
    display: flex;
  }
  .commentPost {
    justify-content: center;
    box-sizing: border-box;
    line-height: 30px;
    background: #424350;
    font-weight: bolder;
    border: 2px solid #5bf7fc;
    color: #fff;
    width: 60%;
    font-size: 14px;
    border-radius: 100px;
    margin: 0 70px 0 80px;
  }
}

.said-bar {
  height: auto;
  border-left: 1px solid #9d9da1;
  .menu {
    height: auto;
    margin-left: 16px;
    font-size: 35px;
    padding-right: 5px;
    #home-icon {
      padding: 15px 1px;
      border-bottom: 1px solid #9d9da1;
      color: #5bf7fc;
    }
    #message-icon {
      padding: 15px 3px;
      border-bottom: 1px solid #9d9da1;
      color: #909096;
    }
    #search-icon {
      padding: 15px 3px;
      border-bottom: 1px solid #9d9da1;
      color: #909096;
    }
    #position-icon {
      padding: 15px 3px;
      border-bottom: 1px solid #9d9da1;
      color: #909096;
    }
    #mail-icon {
      padding: 15px 3px;
      border-bottom: 1px solid #9d9da1;
      color: #909096;
    }
  }
  .layout {
    width: auto;
    height: auto;

  }
}
.fas.fa-sign-out-alt.icon {
  color: #9d9da1;
}
.fas.fa-sign-out-alt.icon:hover {
  color: #5bf7fc;
}