.infomation
  .header
    .info
      .info__user
        .info__user__img
        .info__user__name
          test
      .info__user-cog
        %i.fas.fa-angle-down.icon
    .side-top
      .app-icon
    
  .main-tab
    .messagesBox
      .messagesList
        .config-position
          設定画面

      
        -# .detailMessage
        -#   .detailMessage__header
        -#     .user-info
        -#       .icon
        -#       .name
        -#         test
        -#     .menu
        -#       %i.fas.fa-angle-down.icon
        -#   .detailMessage__contener
        -#     .comment-info
        -#       .comment
        -#         うんこ落ちてた
        -#       .time 
        -#         17:54 2020-11-20
        -#     .distance
        -#       現在地からの距離：
        -#     .position
        -#       .latitude
        -#         = "緯度：  "
        -#       .longitude
        -#         = "経度：  "
        -#   .detailMessage__footer
        -#     .menu
        -#       #comment-icon
        -#         %i.fas.fa-comment-dots.icon
        -#       #favorit-icon
        -#         %i.far.fa-heart.icon
        -#       #mail-icon
        -#         %i.fas.fa-envelope.icon
        -#     .problemReport
        -#       #report-icon
        -#         %i.fas.fa-exclamation-circle.icon
        
        -# .message-form
        -#   = form_with url: messages_path, method: "POST", id: "new-message", local: true do |f|
        -#     .message-form
        -#       .form-header
        -#       .form-container
        -#         .user
        -#           .icon
        -#         .message-container
        -#           = f.text_area :comment,{class: "message-container__comment", id: "comment_body", required: "required", maxlength: '250', placeholder: 'ここに何があるかみんなに共有しよう！'}
        -#           .message-container__footer
        -#             .image-icon
        -#               %i.fas.fa-image.icon
        -#             .text-count
        -#               #inputCounter
        -#               = "/250"
        -#     = f.submit '投稿', class:"commentBtn"
          
        %button{:class => "messageUpdate", :type => "submit", :id => "btn"}
          更新
    .said-bar
      .menu
        #home-icon
          %i.fas.fa-home.icon
        #message-icon
          %i.far.fa-comment-alt.icon
        #search-icon
          %i.fas.fa-search.icon
        #position-icon
          %i.fas.fa-crosshairs.icon
        #mail-icon
          %i.fas.fa-envelope.icon
      .layout
