.infomation
  .header
    .info
      .info__user
        = link_to destroy_user_session_path, method:"delete" do
          .info__user__img
        .info__user__name
          test
      .info__user-cog
        %i.fas.fa-angle-down.icon
    .side-top
      .app-icon
    
  .main-tab
    .messagesBox
      .messagesList
        %button{:class => "messageUpdate", :type => "submit", :id => "btn"}
          更新
      .config-position
        %input{name: "config_id", type: "hidden", value: current_user.search_config.id}
        .tab-name
          検索条件の設定
        .select-name
          検索日時
        .cp_ipselect.cp_sl04
          = select_tag :time, options_from_collection_for_select(SearchConditions.all, :value, :name, {selected: current_user.search_config.time})
        .select-name
          検索範囲
        .cp_ipselect.cp_sl04
          = select_tag :range, options_from_collection_for_select(SearchRange.all,  :value, :name, {selected: current_user.search_config.range})
          
    .said-bar
      .menu
        #home-icon
          %i.fas.fa-home.icon
        #message-icon
          %i.far.fa-comment-alt.icon
        #search-icon
          %i.fas.fa-search.icon
        #position-icon
          %i.fas.fa-crosshairs.icon
        #mail-icon
          %i.fas.fa-envelope.icon
      .layout
